
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{

    font-family: 'Oxygen', sans-serif;
    
}  

            /*---------------HEADER----------------- */

.header{
    width: 100vw;
    height: 20vh;
    background-color: rgba(250, 165, 6, 0.783);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    
    

}


.header__link__logo{

    width: 110px;
    height: 110px;
}


.header .barra__lista{

    list-style: none;
    display: flex;
    
}


.barra__lista__links{

padding-bottom: 15px;

}


.header .barra__lista__links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    margin-left: 70px;
    
}


/*------------------MAIN------------------ */
.hero{
    width:100% ;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.166), rgba(0, 0, 0, 0.212)), url(../img/italiano.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left:20px;
}

.hero__title {
    
    font-size:45px;
    font-style: italic;
    text-align: center;
    color: rgba(0, 38, 255, 0.626);
    text-shadow: 3px 5px 10px rgba(239, 55, 9, 0.526);
    letter-spacing:10px ;
    
}


.hero__paragrap{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: rgba(255, 0, 0, 0.789);
    text-shadow: 5px 10px 20px rgb(46, 25, 186);
    
}

/* ------------CARDS------------ */

.alemanes__title {
    background-color: black;
    font-size: 40px;
    font-style: italic;
    margin-left:50px;
    color: rgb(255, 255, 255);
}

.alemanes{
    width:100% ;
    height: 120vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
}



.alemanes .card__promo{
    width: 300px;
    height: 500px;
    background-color: rgb(77, 71, 71);
    border: 1px solid rgba(9, 6, 192, 0.784);
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    
}

.card__promo__img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.card__promo__title{
    font-size: 35px;
    color: white;
    margin-bottom: 15px;
    
}

.card__promo__bottom{
    text-decoration: none;
    padding: 5px;
    color:white;
    margin: 100px;
    background-color: rgb(4, 4, 87);
    border-radius: 5px;
    border: 1px solid rgba(29, 29, 255, 0.677);
    box-shadow: 0 0 20px rgba(29, 29, 255, 0.677);
}





/* -----------------LANZAMIENTOS--------------- */

.italiano {
    width:100% ;
    height: 150vh;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    
    
}
.itali-flex {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


.itali-flex__titulo{
    color: beige;
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    margin-left:50px;
    
}

.itali-flex__sub{
    color: rgb(248, 26, 26);
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    margin-left:50px;
}


/* !---------------APLICANDO GRID---------------- */
.contenedor{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
    gap: 30px;
    
}

.contenedor__lanzamientos__link__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    -webkit-box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
}

.contenedor__lanzamientos--1{
    grid-row: span 2;
}

.contenedor__lanzamientos{
    position: relative;
}

.contenedor__lanzamientos__texto{
    color: rgba(255, 255, 255, 0.714);
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    border: rgba(255, 255, 255, 0.714) dashed 2px;
    padding: 5px 20px 5px 20px;
    position: absolute;
    bottom: 100px;
    left: 110px;
}




/* ----------------------PAGES---ACERCA----------------------- */





.hero2{
    background-image: url(..//img/gt3.png);
    width:100%;
    height:80vh ;
    font-style: italic;
    font-weight: bold;
    color:black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 25px;
    padding-left: 30px;
}

.mercedez{

    background-color: black;
    width: 100%;
    height: 700px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
} 

.mercedez__img{

    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(7, 92, 131, 0.452);
    
}

.mercedez__text{

    background-color: rgba(128, 127, 128, 0.128);
    width: 400px;
    height: 500px;
    text-align: center;
    padding: 10px;

}

.mercedez__text__title {
    
    font-weight: bolder;
    font-size: x-large;
    font-style: italic;
    margin-bottom: 30px;
}

.mercedez__text__paragrap{
    
    text-align: justify;
    font-weight: bold;
    
}


.persona{

    background-image:url(../img/motor2.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.persona__img{

    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 120, 221, 0.429);
    
}

.persona__text{
    background-color: rgba(169, 169, 169, 0.452);
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 600px;
    box-shadow: 0 0 30px rgba(169, 169, 169, 0.452);
}

.persona__text__title{

    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 20px;

}

.persona__text__paragrap{

    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}


.laferrari{
    width: 100%;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
}

.laferrari__img{

    width: 600px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 0 50px rgba(228, 19, 19, 0.452);
    
}

.laferrari__text{
    background-color: rgba(128, 127, 128, 0.128);
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 10px;
}

.laferrari__text__title{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
}

.laferrari__text__paragrap{

    text-align: justify;
    font-size: 16px;
}


/* ---------------------PAGES---MODELOS------------------ */



.ventas{
    width: 100%;
    height: 90vh;
    background-color:rgb(10, 9, 9);
    color: white;
    

    
}

.ventas1{
    width: 100% ;
    height: 50px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.ventas1__title{
    font-size: 30px;
    font-weight: 800;
        
}

.deportivos{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.deportivos__card{
    background-color: rgba(255, 254, 254, 0.066);
    color: white;
    width: 300px;
    height: 330px;
    text-align: center;
    box-shadow:0 0 30px rgba(0, 38, 255, 0.626);
    

}
.deportivos__card__img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.deportivos__card__title{

    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.deportivos__card__paragrap{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

.deportivos__card__bottom{
    text-decoration: none;
    background-color: rgb(4, 4, 87);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgba(29, 29, 255, 0.677);
    box-shadow: 0 0 10px rgba(29, 29, 255, 0.677);
}


/* ----------------------------PAGES--NOVEDADES---------------------- */

.intro{
    background-image: url(../img/azulll.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    color: white;
    font-style: italic;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
}

.intro__title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    
}

.intro__subtitle{
    color: rgb(190, 14, 14);
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
    
}

.intro__paragrap{
    color: rgba(255, 255, 255, 0.718);
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    
    
}

.novedades{
    width: 100%;
    height: 190vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.708), rgba(0, 0, 0, 0.091)), url(../img/logo.png);
    background-size: cover;
    background-attachment:local;
    display: flex;
    justify-content: center;
    padding-top: 100px;

}

/* !--------APLICANDO---GRID--PAGES--NOVEDADES---- */

.videos{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
    column-gap: 150px;
    row-gap: 60px;
    font-style: italic;
}

.videos__restyling{
    color: azure;
    background-color: rgba(202, 202, 202, 0.321);
    border-top: 1px silver solid;
    -webkit-box-shadow: 24px 25px 19px -3px rgba(0,0,0,0.74);
    -moz-box-shadow: 24px 25px 19px -3px rgba(0,0,0,0.74);
    box-shadow: 24px 25px 19px -3px rgba(0,0,0,0.74);
}

.videos__title{
    padding-left: 10px;
}

.videos__paragrap{
    padding-left: 10px;
}

.videos__youtube{

    width: 100%;
    height: 80%;
    object-fit: cover;
}





/* ---------------------------PAGES--CONTACTO------------------------ */

.contacto{
    width: 100%;
    height: 90vh;
    background-image: url(../img/contacto.png);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
    font-style: italic;
}

.contacto__title{
    font-size: 40px;
    font-weight: bold;
    
}

.contacto__paragrap{
    font-size: 30px;
}

.formulario{
    background-color: beige;
}


.formulario__title{
    font-weight: bolder;
}

.map{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.consulta{
    width: 500px;
    height: 700px;
    border: 1px solid rgba(186, 182, 182, 0.714);
    border-radius: 3px;
    background-color: rgba(103, 97, 97, 0.754);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.consulta__title{
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    padding: 20px;
}

/* ---------------------SELECIONAR PROVINCIA------------ */

.consulta__text input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.consulta__text select{
    width: 400px;
    height: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(71, 69, 69);
}
/* ----------------------INPUT---RADIO */
.chek{
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

    
}

.chek .radio{
    font-weight: bold;
    font-size: 15px;
    padding-right: 70px;
    
}

.consulta .escribe{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 20;
    
}
.consulta textarea{
    width: 400px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.consulta .enviar{
    margin: 10px 20px 10px 20px;
    padding: 20px;
    margin-bottom: 80px;
    border-radius: 3px;
    background-color: rgb(11, 11, 84);
    color: white;
    
}
/* --------------------SUCURSALES--DIRECIONES-------- */
.sucursales{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sucursales__ubi__title{
    font-size: 20px;
}

.sucursales__ubi__paragrap{
    font-size: 15px;
}

.contactos{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.icons-text{
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.contactos__ubi__map__img{
    width: 20px;
    height: 20px;
}

.googlemaps{
    width: 100%;
    height: 90vh;
    background-color: beige;
    
}

.casa{
    height: 300px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 100px;
}
/* ----------------------MAPA--IFRAME----------- */
.casa__central__title{
    font-size: 20px;
    font-weight: bold;
}

.casa__central__paragrap{
    font-size: 15px;
    font-weight: bold;
} 

.casa__central__ifr{
    width: 500px;
    height: 500px;
}



/* -----------------FOOTER----------------- */


footer {
    width: 100%;
    height: 42vh;
    background-color: darkred;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    
}
.inicio__logo{
    
    width: 210px;
    height: 210px;
}

.redes__titulo{
    text-align: center;
    color: white;
    margin-bottom: 45px;
}

.redes__link__icons{
    margin-left: 25px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    
}

.redes__link{

    text-decoration: none;
    color: white;
    font-weight: 700;
}






/*?-------------MEDIA QUERIES-HEADER----------- */



@media screen and (max-width:1038px) {

    .header {
        flex-direction: column;
        align-items: center;
        height: 70vh;
        
    }
    
    .header .barra__lista{
        flex-direction: column;
        text-align: center;
        
    }

    .header .barra__lista__links a{
        margin-left:0;
    }

    .hero__title{
        font-size:40px;
    }

    .hero__paragrap{
        font-size:20px;
    }



@media screen and (max-width:897px){
    .hero{
        height:90vh;
    }
    
    .hero__title{
        font-size:35px;
        padding-bottom: 10px;
    }

    .hero__paragrap{
        font-size:15px;
    } 
}

@media screen and (max-width:675px){

    .hero__title{
        font-size:30px;
    }

    .hero__paragrap{
        font-size:15px;
    }
}


@media screen and (max-width:607px){

    .hero__title{
        font-size:25px;
    }

    .hero__paragrap{
        font-size:15px;
    }
}


@media screen and (max-width:539px){
    
    .hero__title{
        font-size:20px;
    }

    .hero__paragrap{
        font-size:15px;
    }
}

@media screen and (max-width:468px){

    .hero{
        height:70vh;
    }

    .hero__title{
        font-size:19px;
        
    }

    
}

@media screen and (max-width:471px){
    .hero{
        height:60vh;
    }
    
    .hero__title{
        font-size:18px;
        
    }

    
}

@media screen and (max-width:444px){
    .hero{
        height:60vh;
    }
    
    .hero__title{
        font-size:17px;
        
    }

    
}

@media screen and (max-width:430px){
    .hero__title{
        font-size:16px;
        
    }

    .hero__paragrap{
        font-size:14px;
    }

    
}

@media screen and (max-width:417px){
    .hero__title{
        font-size:15px;
        
    }

    .hero__paragrap{
        font-size:13px;
    }

    
}

@media screen and (max-width:403px){
    .hero__title{
        font-size:14px;
        
    }

    .hero__paragrap{
        font-size:12px;
    }

    
}

@media screen and (max-width:390px){
    .hero__title{
        font-size:13px;
        
    }

    .hero__paragrap{
        font-size:11px;
    }

    
}

@media screen and (max-width:376px){
    .hero{
        padding-left:10px;
    }
    .hero__title{
        font-size:12px;
        
    }

    .hero__paragrap{
        font-size:10px;
    }

    
}

@media screen and (max-width:376px){
    .hero{
        padding-left:5px;
    }
    
    
}

@media screen and (max-width:347px){
    .hero{
        padding-left:5px;
    }
    .hero__title{
        font-size:11px;
        
    }
}

@media screen and (max-width:334px){
    .hero{
        padding-left:1px;
    }
}


@media screen and (max-width:330px){
    .hero{
        padding-left:2px;
    }

    .hero__title{
        font-size:10px;
        
    }
}


@media screen and (max-width:316px){
    .hero__title{
        font-size:9px;
        
    }

    .hero__paragrap{
        font-size:8px;
    }
}

/* ?-------------MEDIA--ALEMANES----------------- */



@media screen and (max-width:1109px){
    .alemanes__title {
        font-size:37px;
        margin-left:30px;
    }
}





@media screen and (max-width:900px){
    .alemanes{
        height:100vh;
    }
    .alemanes .card__promo{
        width: 250px;
        height: 340px;
    }

    .card__promo__img{
        width: 250px;
        height: 250px; 
    }
    .card__promo__title{
    font-size: 25px; 
    }
    .card__promo__bottom{
    
    font-size:12px;
    }
    
}

@media screen and (max-width:886px){
    .alemanes__title {
        font-size:35px;
        margin-left:25px;
    } 
}

@media screen and (max-width:749px){
    .alemanes{
        height:160vh;
    }
    
    
    .alemanes__title {
        font-size:30px;
        margin-left:20px;
    }

    
}

@media screen and (max-width:629px){
    .alemanes__title {
        font-size:25px;
        margin-left:15px;
    }
}



@media screen and (max-width:522px){
    .alemanes__title {
        font-size:24px;
        margin-left:8px;
    }
}

@media screen and (max-width:499px){
    .alemanes{
        height: 230vh;
    }

    .alemanes__title {
        font-size:22px;
        margin-left:10px;
        padding-bottom:30px;
    }
}



@media screen and (max-width:464px){
    .alemanes{
        height: 230vh;
    }

    .alemanes__title {
        font-size:21px;
        
    }
}



@media screen and (max-width:444px){
    .alemanes{
        height: 230vh;
    }

    .alemanes__title {
        font-size:20px;
        
    }
}



@media screen and (max-width:424px){
    .alemanes{
        height: 230vh;
    }

    .alemanes__title {
        font-size:19px;
        
    }
}


@media screen and (max-width:402px){
    .alemanes{
        height: 230vh;
    }

    .alemanes__title {
        font-size:18px;
        margin-left:0;
        text-align:center;
        
    }
}




@media screen and (max-width:378px){
    .alemanes{
        height: 230vh;
    }

    .alemanes__title {
        font-size:17px;
        text-align:center;
        margin-left:0;
        
    }
}



@media screen and (max-width:358px){
    .alemanes{
        height: 230vh;
    }

    .alemanes__title {
        font-size:16px;
    }
}



@media screen and (max-width:338px){
    .alemanes{
        height: 230vh;
    }

    .alemanes__title {
        font-size:15px;
    }
}




/* ?-------------MEDIA--LANZAMIENTOS-------------- */




@media screen and (max-width:961px){
    .italiano{
        height:135vh;
    }
}


@media screen and (max-width:955px){
    .itali-flex__titulo{
        font-size: 48px;
    }

    .itali-flex__sub{
        font-size: 32px;
    }
}


@media screen and (max-width:943px){
    .itali-flex__titulo{
        font-size: 46px;
    }

    .itali-flex__sub{
        font-size: 30px;
    }
}


@media screen and (max-width:893px){
    .itali-flex__titulo{
        font-size: 44px;
    }

    .itali-flex__sub{
        font-size: 28px;
    }
}


@media screen and (max-width:857px){
    
    .italiano{
        height:130vh;
        justify-content:space-evenly;
    } 

    .itali-flex{
        justify-content:space-evenly; 
    }

}

@media screen and (max-width:831px){
    
    .itali-flex__titulo{
        font-size: 42px;
    }

    .itali-flex__sub{
        font-size: 26px;
    }
}


@media screen and (max-width:811px){
    
    .itali-flex__titulo{
        font-size: 40px;
    }

    .itali-flex__sub{
        font-size: 24px;
    }
}


@media screen and (max-width:px){
    .italiano{
        height:120vh;
    }
    .itali-flex__titulo{
        font-size: 39px;
    }

    .itali-flex__sub{
        font-size: 22px;
    }
}



@media screen and (max-width:781px){
    .itali-flex__titulo{
        font-size: 38px;
    }

    .itali-flex__sub{
        font-size: 21px;
    }
    
}


@media screen and (max-width:719px){
    .italiano{
        height:115vh;
    }
    
    .itali-flex__titulo{
        font-size: 36px;
    }

    .itali-flex__sub{
        font-size: 20px;
    }
    
}



@media screen and (max-width:693px){
    .itali-flex__titulo{
        font-size: 34px;
    }

    .itali-flex__sub{
        font-size: 18px;
    }
}

@media screen and (max-width:637px){
    .itali-flex__titulo{
        font-size: 32px;
    }

    .itali-flex__sub{
        font-size: 17px;
    }
}



@media screen and (max-width:599px){
    .itali-flex__titulo{
        font-size: 30px;
    }

    .itali-flex__sub{
        font-size: 20px;
        
    }
}


@media screen and (max-width:525px){
    .italiano{
        height:110vh;
    }
    
    .itali-flex__titulo{
        font-size: 28px;
    }

    .itali-flex__sub{
        font-size: 18px;
        
    }
}


@media screen and (max-width:499px){
    .itali-flex__titulo{
        margin-left:30px;
    }

    .itali-flex__sub{
        margin-left:30px;
        
    }
}


@media screen and (max-width:495px){
    .italiano{
        height:190vh;
    }


}


@media screen and (max-width:476px){
    .itali-flex__titulo{
        margin-left:10px;
    }

    .itali-flex__sub{
        margin-left:10px;
        
    } 

}

@media screen and (max-width:462px){
    .itali-flex__titulo{
        font-size:25px;
    }

    .itali-flex__sub{
        font-size:18px; 
        
    } 
}


@media screen and (max-width:412px){
    .itali-flex__titulo{
        font-size:22px;
    }

    .itali-flex__sub{
        font-size:17px; 
        
    } 
}

@media screen and (max-width:364px){
    .itali-flex__titulo{
        font-size:20px;
    }

    .itali-flex__sub{
        font-size:15px; 
        
    } 
}


@media screen and (max-width:334px){
    .itali-flex__titulo{
        font-size:18px;
    }

    .itali-flex__sub{
        font-size:12px; 
        
    } 
}




/* !----------MEDIA--GRID---------- */





@media screen and (max-width:1069px){
    .contenedor{
        grid-auto-rows: 250px;
        gap: 25px;
    }
}


@media screen and (max-width:1057px){
    .contenedor{
        grid-auto-rows: 245px;
        gap: 22px;
    }
}

@media screen and (max-width:1029px){
    .contenedor{
        grid-auto-rows: 240px;
        gap: 20px;
    }
}


@media screen and (max-width:1001px){
    .contenedor{
        grid-auto-rows: 235px;
        gap: 15px;
    }
}


@media screen and (max-width:967px){
    .contenedor{
        grid-auto-rows: 230px;
        gap: 14px;
    }
}

@media screen and (max-width:967px){
    .contenedor{
        grid-auto-rows: 228px;
        gap: 13px;
    }
}



@media screen and (max-width:939px){
    .contenedor{
        grid-auto-rows: 224px;
        gap: 12px;
    }
}


@media screen and (max-width:917px){
    .contenedor{
        grid-auto-rows: 220px;
        gap: 11px;
    }
}


@media screen and (max-width:891px){
    .contenedor{
        grid-auto-rows: 215px;
        gap: 10px;
    }
}


@media screen and (max-width:875px){
    .contenedor{
        grid-auto-rows: 210px;
        gap: 9px;
    }
}


@media screen and (max-width:855px){
    .contenedor{
        grid-auto-rows: 200px;
        
    }
}


@media screen and (max-width:807px){
    .contenedor{
        grid-auto-rows: 195px;
        
    }
}


@media screen and (max-width:787px){
    .contenedor{
        grid-auto-rows: 190px;
        
    }
}


@media screen and (max-width:773px){
    .contenedor{
        grid-auto-rows: 185px;
        
    }
}


@media screen and (max-width:749px){
    .contenedor{
        grid-auto-rows: 180px;
        
    }
}


@media screen and (max-width:721px){
    .contenedor{
        grid-auto-rows: 175px;
        
    }
}


@media screen and (max-width:749px){
    .contenedor{
        grid-auto-rows: 170px;
        
    }
}

@media screen and (max-width:691px){
    .contenedor{
        grid-auto-rows: 165px;
        
    }
}


@media screen and (max-width:659px){
    .contenedor{
        grid-auto-rows: 160px;
        
    }
}


@media screen and (max-width:641px){
    .contenedor{
        grid-auto-rows: 155px;
        
    }
}



@media screen and (max-width:621px){
    .contenedor{
        grid-auto-rows: 150px;
        
    }
}


@media screen and (max-width:611px){
    .contenedor{
        grid-auto-rows: 145px;
        
    }
}

@media screen and (max-width:495px){
    .contenedor{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 200px;
        gap: 35px;
    }

    .contenedor__lanzamientos--1{
    grid-row: span 1;
    }
}


/* !-------TEXTO DE IMAGEN GALERIA GRID------ */




@media screen and (max-width:1037px){
    .contenedor__lanzamientos__texto{
        font-size:22px;
        padding:2px px 2px 2px;
        border: dashed 1px;
        left:80px;
        bottom:50px;
        
    
    }
}


@media screen and (max-width:930px){
    .contenedor__lanzamientos__texto{
        font-size:18px;
        padding:2px px 2px 2px;
    }
}

    
@media screen and (max-width:849px){
    .contenedor__lanzamientos__texto{
        font-size:16px;
        padding:1px 2px 1px 2px;
        left:70px;
        bottom:45px;
        
    
    }
}


@media screen and (max-width:743px){
    .contenedor__lanzamientos__texto{
        font-size:14px;
        
    
    }
}
    

@media screen and (max-width:649px){
    .contenedor__lanzamientos__texto{
        left:60px;
        bottom:35px;
    }
}    


@media screen and (max-width:565px){
    .contenedor__lanzamientos__texto{
        left:50px;
        bottom:30px;
    }
}
    


@media screen and (max-width:525px){
    .contenedor__lanzamientos__texto{
        left:40px;
        bottom:25px;
    }
}



@media screen and (max-width:495px){
    .contenedor__lanzamientos__texto{
        font-size:20px;
        padding:1px 5px 1px 5px;
        left:90px;
        bottom:50px;
    }
}



@media screen and (max-width:439px){
    .contenedor__lanzamientos__texto{
        font-size:18px;
        padding:1px 5px 1px 5px;
        left:80px;
        bottom:45px;
    }
}
    

@media screen and (max-width:407px){
    .contenedor__lanzamientos__texto{
        font-size:16px;
        padding:1px 5px 1px 5px;
        left:75px;
        bottom:35px;
    }
}
    

@media screen and (max-width:357px){
    .contenedor__lanzamientos__texto{
        font-size:14px;
        padding:1px 5px 1px 5px;
        left:65px;
        bottom:35px;
    }
}




/*TODO:--------MEDIA -NOVEDADES-------*/


@media screen and (max-width:1071px){
    .intro__title{
        font-size: 30px;
    }

    .intro__subtitle{
        font-size: 20px;
        margin-top: 30px;
    }

    .intro__paragrap{
        font-size: 12px;
    }

}



@media screen and (max-width:1005px){
    .intro__title{
        font-size: 28px;
    }

    .intro__subtitle{
        font-size: 18px;
        margin-top: 25px;
    }

    .intro__paragrap{
        font-size: 15px;
    }

}    


@media screen and (max-width:979px){
    .intro__title{
        font-size: 26px;
    }

    .intro__subtitle{
        font-size: 16px;
        margin-top: 20px;
    }

    .intro__paragrap{
        font-size: 14px;
    }

}



@media screen and (max-width:927px){
    .intro__title{
        font-size: 26px;
    }

    .intro__subtitle{
        font-size: 16px;
        margin-top: 18px;
    }

}     



@media screen and (max-width:833px){
    .intro__title{
        font-size: 24px;
    }

    .intro__subtitle{
        font-size: 18px;
        margin-top: 25px;
    }


}


@media screen and (max-width:757px){
    .intro__title{
        font-size: 22px;
    }

    .intro__subtitle{
        margin-top: 20px;
    }


} 



@media screen and (max-width:709px){
    .intro__title{
        font-size: 20px;
    }

    .intro__subtitle{
        font-size: 16px;
        margin-top: 20px;
    }


    .intro__paragrap{
        font-size: 12px;
    }

}

@media screen and (max-width:682px){
    .intro{
        justify-content:space-between;
        padding-bottom:20px;
    }

}


/*!-----------MEDIA----GRID---NOVEDADES-------- */



@media screen and (max-width:1037px){
    .novedades{
        height:240vh;
    }

    .videos{
        column-gap: 100px;
    }
}



@media screen and (max-width:1037px){
    .videos{
        column-gap: 80px;
    }
}

@media screen and (max-width:969px){
    .videos__title{
    font-size:20px;
    }

    .videos__paragrap{
    font-size:15px;
    }

}

@media screen and (max-width:887px){
    .videos{
        column-gap: 60px;
    }
}



@media screen and (max-width:863px){
    .videos{
        column-gap: 40px;
    }
} 


@media screen and (max-width:837px){
    .videos{
        column-gap: 30px;
        row-gap: 40px;
    }
}


@media screen and (max-width:825px){
    .novedades{
        height:220vh;
    }

    .videos{
        column-gap: 25px;
        row-gap: 35px;
    }
} 



@media screen and (max-width:821px){
    .novedades{
        height:460vh;
    }

    .videos{
        width: 70%;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 340px;
    }

    .videos__title{
    font-size:25px;
    }

    .videos__paragrap{
    font-size: 20px;
    padding-bottom:9px;
    }
}   




@media screen and (max-width:681px){
    .novedades{
        height:400vh;
    }

    .videos{
        width: 70%;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 290px;
    }

    .videos__title{
    font-size:22px;
    }

    .videos__paragrap{
    font-size: 18px;
    }
} 



@media screen and (max-width:581px){
    .novedades{
        height:350vh;
    }

    .videos{
        width: 60%;
        grid-auto-rows: 250px;
    }

    .videos__title{
    font-size:20px;
    }

    .videos__paragrap{
    font-size: 16px;
    padding-bottom:5px;
    }

}



@media screen and (max-width:573px){
    .novedades{
        height:300vh;
    }

    .videos{
        grid-auto-rows: 210px;
    }

    .videos__title{
    font-size:18px;
    }

    .videos__paragrap{
    font-size: 14px;
    padding-bottom:2px;
    }

}


@media screen and (max-width:543px){
    .novedades{
        height:350vh;
    }

    .videos{
        width:70%;
        grid-auto-rows: 250px;
    }

    .videos__title{
    font-size:20px;
    }

    .videos__paragrap{
    font-size: 18px;
    padding-bottom:10px;
    }

}


@media screen and (max-width:507px){
    .novedades{
        height:340vh;
    }

    .videos{
        grid-auto-rows: 220px;
    }

    .videos__title{
    font-size:18px;
    }

    .videos__paragrap{
    font-size: 14px;
    padding-bottom:5px;
    }

}



@media screen and (max-width:441px){
    .novedades{
        height:330vh;
    }

    .videos{
        grid-auto-rows: 230px;
    }

    .videos__title{
    font-size:18px;
    }

    .videos__paragrap{
    font-size: 16px;
    padding-bottom:15px;
    }

}    


@media screen and (max-width:437px){
    .novedades{
        height:330vh;
    }

    .videos{
        grid-auto-rows: 220px;
        width:75%;
    }

    .videos__title{
    font-size:16px;
    }

    .videos__paragrap{
    font-size: 14px;
    padding-bottom:10px;
    }

}


@media screen and (max-width:423px){
    .novedades{
        height:330vh;
    }

    .videos{
        grid-auto-rows: 210px;
        width:80%;
    }

    .videos__title{
    font-size:14px;
    }

    .videos__paragrap{
    font-size: 12px;
    padding-bottom:5px;
    }

} 





@media screen and (max-width:397px){
    .novedades{
        height:300vh;
    }

    .videos{
        grid-auto-rows: 200px;
        width:85%;
    }

} 





@media screen and (max-width:375px){
    .novedades{
        height:300vh;
    }

    .videos{
        grid-auto-rows: 200px;
        width:90%;
    }


}



@media screen and (max-width:355px){
    .novedades{
        height:310vh;
    }

    .videos{
        grid-auto-rows: 210px;
        width:95%;
    }

    

}



@media screen and (max-width:335px){
    .novedades{
        height:330vh;
    }

    .videos{
        grid-auto-rows: 220px;
        width:100%;
    }

    .videos__title{
    padding-top:5px;
    }

}




@media screen and (max-width:319px){

    .videos{
        grid-auto-rows: 230px;
        width:120%;
    }

}





/* ?----------MEDIA--FOOTER------- */



@media screen and (max-width:872px){
    footer{
        height:38vh;
    }
    
    .inicio__logo{
        width: 190px;
        height: 190px;
    }

    .redes__titulo{
    font-size:22px;
    margin-bottom: 40px;
    }

    .redes__link__icons{
        width: 30px;
        height: 30px;
    }
}


@media screen and (max-width:866px){
    footer{
        height:35vh;
    }
    
    .inicio__logo{
        width: 175px;
        height: 175px;
    }

    .redes__titulo{
    font-size:22px; 
    margin-bottom: 30px;
    }

    .redes__link__icons{
        width: 20px;
        height: 20px;
    }

    .redes__link{
    font-size:12px;
    }
}


@media screen and (max-width:700px){
    .inicio__logo{
        width: 170px;
        height: 170px;
    }

    .redes__titulo{
    font-size:20px;
    margin-bottom: 28px;
    }

    .redes__link{
    font-size:12px;
    }
}


@media screen and (max-width:668px){
    .inicio__logo{
        width: 170px;
        height: 170px;
    }

    .redes__titulo{
    font-size:18px;
    margin-bottom: 24px;
    }

    .redes__link{
    font-size:11px;
    }
}


@media screen and (max-width:576px){
    footer{
        height:50vh;
    }
    
    .inicio__logo{
        width: 165px;
        height: 165px;
    }

    .redes__titulo{
    font-size:17px; 
    margin-bottom: 21px;
    }

    .redes__link{
    font-size:8px;
    }
}


@media screen and (max-width:498px){
    footer{
        
        height:55vh;
        justify-content:flex-end;
        flex-direction: column-reverse;
        
    }
    
    .inicio__logo{
        width: 160px;
        height: 160px;
        margin-top:30px;
        position:absolute;
        right:5px;
        
        
    }

    .redes__titulo{
    padding-top:45px;
    font-size:17px;
    margin-bottom: 21px;
    }

    .redes__link__icons{
    margin-left: 20px;
    }

    .redes__link{
    font-size:8px;

    }
}



@media screen and (max-width:490px){
    .inicio__logo{
        width: 140px;
        height: 140px;
    }


    .redes__titulo{
    padding-top:40px;
    font-size:15px; 
    margin-bottom: 18px;
    }

    .redes__link__icons{
    margin-left: 10px;
    }
}    


@media screen and (max-width:418px){
    .inicio__logo{
        width: 135px;
        height: 135px;
    }


    .redes__titulo{
        padding-top:35px;
        font-size:12px;
        margin-bottom: 15px;
    }

    .redes__link__icons{
        width: 15px;
        height: 15px;
        margin-left: 21px;
    }
} 


@media screen and (max-width:404px){
    footer{
        height:50vh;
    }
    
    .inicio__logo{
        width: 125px;
        height: 125px;
    }


    .redes__titulo{
        padding-top:35px;
        font-size:12px;
        margin-bottom: 15px;
    }

    .redes__link__icons{
        width: 15px;
        height: 15px;
        margin-left: 18px;
    }
}


@media screen and (max-width:372px){
    footer{
        height:45vh;
    }
    
    .inicio__logo{
        width: 118px;
        height: 118px;
    }
}

    .redes__titulo{
        padding-top:35px;
        font-size:12px;
        margin-bottom: 15px;
    }

    .redes__link__icons{
        width: 15px;
        height: 15px;
        margin-left: 18px;
    }
}


@media screen and (max-width:344px){
    footer{
        height:43vh;
    }
    
    .inicio__logo{
        width: 113px;
        height: 113px;
    }
    
    
    .redes__titulo{
        padding-top:30px;
        font-size:12px;
        margin-bottom: 12px;
    }

    .redes__link__icons{
        width: 13px;
        height: 13px;
        margin-left: 12px;
    }
}