@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.cuerpo {
  font-family: 'Oxygen', sans-serif; }

.cabecera {
  background-color: rgba(250, 165, 6, 0.783); }

.nav-link {
  font-size: 20px;
  font-style: italic;
  font-weight: bolder; }

.nav-item {
  margin-left: 40px; }

.logo {
  width: 110px;
  height: 110px;
  transition: 4s; }
  .logo:hover {
    transform: rotateY(360deg); }

.carousel-item img {
  height: 90vh;
  object-fit: cover; }

.principal-titulo {
  font-size: 65px;
  font-style: italic;
  text-align: center;
  color: rgba(4, 32, 170, 0.927);
  text-shadow: 3px 5px 10px rgba(251, 247, 246, 0.526);
  letter-spacing: 10px; }

.principal-parrafo {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: rgba(255, 0, 0, 0.789);
  text-shadow: 5px 10px 20px rgba(186, 167, 25, 0.863); }

.secundario-titulo {
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
  color: #103ea0; }

.secundario-parrafo {
  font-style: italic; }

.alemanes {
  width: 100%;
  height: 120vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .alemanes__titulo {
    background-color: black;
    font-size: 40px;
    font-style: italic;
    margin-left: 50px;
    color: white; }
  .alemanes .tarjeta {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; }
    .alemanes .tarjeta__promo {
      width: 300px;
      height: 500px;
      background-color: #4d4747;
      border: 1px solid rgba(9, 6, 192, 0.784);
      border-radius: 5px;
      margin-bottom: 20px;
      text-align: center;
      transition: 2s ease-in-out; }
      .alemanes .tarjeta__promo:hover {
        transform: scale(1.1); }
      .alemanes .tarjeta__promo__imgenes {
        width: 300px;
        height: 400px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      .alemanes .tarjeta__promo__titulos {
        font-size: 35px;
        color: white;
        margin-bottom: 15px; }
      .alemanes .tarjeta__promo__botones {
        text-decoration: none;
        padding: 5px;
        color: white;
        margin: 100px;
        background-color: #040457;
        border-radius: 5px;
        border: 1px solid rgba(29, 29, 255, 0.677);
        box-shadow: 0 0 20px rgba(29, 29, 255, 0.677); }

.italiano {
  width: 100%;
  height: 150vh;
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center; }
  .italiano .itali-flexible {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
    .italiano .itali-flexible__titulo {
      color: beige;
      font-style: italic;
      font-weight: 700;
      font-size: 50px;
      margin-left: 50px; }
    .italiano .itali-flexible__sub {
      color: #f81a1a;
      font-style: italic;
      font-weight: 700;
      font-size: 35px;
      margin-left: 50px; }

.contenedor {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  gap: 30px; }
  .contenedor__lanzamientos {
    position: relative; }
    .contenedor__lanzamientos__link__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
      -webkit-box-shadow: 14px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 14px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 14px 10px 5px 0px rgba(0, 0, 0, 0.75); }
    .contenedor__lanzamientos__texto {
      color: rgba(255, 255, 255, 0.714);
      font-size: 30px;
      font-weight: 600;
      font-style: italic;
      border: rgba(255, 255, 255, 0.714) dashed 2px;
      padding: 5px 20px 5px 20px;
      position: absolute;
      bottom: 100px;
      left: 110px;
      transition: 2s; }
      .contenedor__lanzamientos__texto:hover {
        transform: scale(1.1);
        border: rgba(255, 255, 255, 0.714) dashed 3px; }
  .contenedor__lanzamientos--1 {
    grid-row: span 2; }

footer {
  width: 100%;
  height: 42vh;
  background-color: darkred;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center; }
  footer .inicio__logo {
    width: 210px;
    height: 210px; }
  footer .redes__titulo {
    text-align: center;
    color: white;
    margin-bottom: 45px; }
  footer .redes__enlaces {
    text-decoration: none;
    color: white;
    font-weight: 700; }
    footer .redes__enlaces__iconos {
      margin-left: 25px;
      width: 30px;
      height: 30px;
      text-decoration: none; }

@media screen and (max-width: 1066px) {
  .principal-titulo {
    font-size: 45px; }
  .principal-parrafo {
    font-size: 20px; } }

@media screen and (max-width: 879px) {
  .principal-titulo {
    font-size: 40px;
    padding-bottom: 10px; }
  .principal-parrafo {
    font-size: 18px; } }

@media screen and (max-width: 759px) {
  .principal-titulo {
    font-size: 35px; }
  .principal-parrafo {
    font-size: 15px; } }

@media screen and (max-width: 694px) {
  .principal-titulo {
    font-size: 30px; }
  .principal-parrafo {
    font-size: 13px; } }

@media screen and (max-width: 631px) {
  .principal-titulo {
    font-size: 25px; }
  .principal-parrafo {
    font-size: 12px; } }

@media screen and (max-width: 568px) {
  .principal-titulo {
    font-size: 20px; } }

@media screen and (max-width: 505px) {
  .principal-titulo {
    font-size: 18px; }
  .principal-parrafo {
    font-size: 10px; } }

@media screen and (max-width: 480px) {
  .principal-titulo {
    font-size: 17px; } }

@media screen and (max-width: 470px) {
  .principal-titulo {
    font-size: 15px; } }

@media screen and (max-width: 442px) {
  .principal-titulo {
    font-size: 13px; }
  .principal-parrafo {
    font-size: 10px; } }

@media screen and (max-width: 1109px) {
  .alemanes__titulo {
    font-size: 37px;
    margin-left: 30px; } }

@media screen and (max-width: 900px) {
  .alemanes {
    height: 100vh; }
    .alemanes .tarjeta__promo {
      width: 250px;
      height: 340px; }
      .alemanes .tarjeta__promo__imgenes {
        width: 250px;
        height: 250px; }
      .alemanes .tarjeta__promo__titulos {
        font-size: 25px; }
      .alemanes .tarjeta__promo__botones {
        font-size: 12px; } }

@media screen and (max-width: 886px) {
  .alemanes__titulo {
    font-size: 35px;
    margin-left: 25px; } }

@media screen and (max-width: 749px) {
  .alemanes {
    height: 170vh; }
    .alemanes__titulo {
      font-size: 30px;
      margin-left: 20px; } }

@media screen and (max-width: 629px) {
  .alemanes__titulo {
    height: 40px;
    font-size: 25px;
    margin-left: 15px; } }

@media screen and (max-width: 522px) {
  .alemanes__titulo {
    font-size: 24px;
    margin-left: 8px; } }

@media screen and (max-width: 499px) {
  .alemanes {
    height: 250vh; }
    .alemanes__titulo {
      font-size: 22px;
      margin-left: 10px;
      padding-bottom: 30px; } }

@media screen and (max-width: 464px) {
  .alemanes {
    height: 260vh; }
    .alemanes__titulo {
      font-size: 21px; } }

@media screen and (max-width: 444px) {
  .alemanes {
    height: 270vh; }
    .alemanes__titulo {
      font-size: 20px; } }

@media screen and (max-width: 424px) {
  .alemanes__titulo {
    font-size: 19px; } }

@media screen and (max-width: 402px) {
  .alemanes__titulo {
    font-size: 18px;
    margin-left: 0;
    text-align: center; } }

@media screen and (max-width: 378px) {
  .alemanes__titulo {
    font-size: 17px;
    text-align: center;
    margin-left: 0; } }

@media screen and (max-width: 358px) {
  .alemanes__titulo {
    font-size: 16px; } }

@media screen and (max-width: 338px) {
  .alemanes__titulo {
    font-size: 15px; } }

@media screen and (max-width: 961px) {
  .italiano {
    height: 135vh; } }

@media screen and (max-width: 955px) {
  .italiano .itali-flexible__titulo {
    font-size: 40px; }
  .italiano .itali-flexible__sub {
    font-size: 32px; } }

@media screen and (max-width: 857px) {
  .italiano {
    height: 130vh;
    justify-content: space-evenly; }
  .itali-flex {
    justify-content: space-evenly; } }

@media screen and (max-width: 790px) {
  .italiano {
    height: 120vh; } }

@media screen and (max-width: 727px) {
  .italiano .itali-flexible__titulo {
    font-size: 35px; }
  .italiano .itali-flexible__sub {
    font-size: 28px; } }

@media screen and (max-width: 719px) {
  .italiano {
    height: 115vh; } }

@media screen and (max-width: 618px) {
  .italiano .itali-flexible__titulo {
    font-size: 25px; }
  .italiano .itali-flexible__sub {
    font-size: 18px; } }

@media screen and (max-width: 525px) {
  .italiano {
    height: 110vh; } }

@media screen and (max-width: 495px) {
  .italiano {
    height: 190vh; } }

@media screen and (max-width: 469px) {
  .italiano .itali-flexible__titulo {
    font-size: 20px; }
  .italiano .itali-flexible__sub {
    font-size: 15px; } }

@media screen and (max-width: 380px) {
  .italiano .itali-flexible__titulo {
    font-size: 16px; }
  .italiano .itali-flexible__sub {
    font-size: 12px; } }

@media screen and (max-width: 1069px) {
  .contenedor {
    grid-auto-rows: 250px;
    gap: 25px; } }

@media screen and (max-width: 1057px) {
  .contenedor {
    grid-auto-rows: 245px;
    gap: 22px; } }

@media screen and (max-width: 1029px) {
  .contenedor {
    grid-auto-rows: 240px;
    gap: 20px; } }

@media screen and (max-width: 1001px) {
  .contenedor {
    grid-auto-rows: 235px;
    gap: 15px; } }

@media screen and (max-width: 967px) {
  .contenedor {
    grid-auto-rows: 230px;
    gap: 14px; } }

@media screen and (max-width: 967px) {
  .contenedor {
    grid-auto-rows: 228px;
    gap: 13px; } }

@media screen and (max-width: 939px) {
  .contenedor {
    grid-auto-rows: 224px;
    gap: 12px; } }

@media screen and (max-width: 917px) {
  .contenedor {
    grid-auto-rows: 220px;
    gap: 11px; } }

@media screen and (max-width: 891px) {
  .contenedor {
    grid-auto-rows: 215px;
    gap: 10px; } }

@media screen and (max-width: 875px) {
  .contenedor {
    grid-auto-rows: 210px;
    gap: 9px; } }

@media screen and (max-width: 855px) {
  .contenedor {
    grid-auto-rows: 200px; } }

@media screen and (max-width: 807px) {
  .contenedor {
    grid-auto-rows: 195px; } }

@media screen and (max-width: 787px) {
  .contenedor {
    grid-auto-rows: 190px; } }

@media screen and (max-width: 773px) {
  .contenedor {
    grid-auto-rows: 185px; } }

@media screen and (max-width: 749px) {
  .contenedor {
    grid-auto-rows: 180px; } }

@media screen and (max-width: 721px) {
  .contenedor {
    grid-auto-rows: 175px; } }

@media screen and (max-width: 749px) {
  .contenedor {
    grid-auto-rows: 170px; } }

@media screen and (max-width: 691px) {
  .contenedor {
    grid-auto-rows: 165px; } }

@media screen and (max-width: 659px) {
  .contenedor {
    grid-auto-rows: 160px; } }

@media screen and (max-width: 641px) {
  .contenedor {
    grid-auto-rows: 155px; } }

@media screen and (max-width: 621px) {
  .contenedor {
    grid-auto-rows: 150px; } }

@media screen and (max-width: 611px) {
  .contenedor {
    grid-auto-rows: 145px; } }

@media screen and (max-width: 495px) {
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    gap: 35px; }
    .contenedor__lanzamientos--1 {
      grid-row: span 1; } }

@media screen and (max-width: 1037px) {
  .contenedor__lanzamientos__texto {
    font-size: 22px;
    padding: 2px px 2px 2px;
    border: dashed 1px;
    left: 80px;
    bottom: 50px; } }

@media screen and (max-width: 930px) {
  .contenedor__lanzamientos__texto {
    font-size: 18px;
    padding: 2px px 2px 2px; } }

@media screen and (max-width: 849px) {
  .contenedor__lanzamientos__texto {
    font-size: 16px;
    padding: 1px 2px 1px 2px;
    left: 70px;
    bottom: 45px; } }

@media screen and (max-width: 743px) {
  .contenedor__lanzamientos__texto {
    font-size: 14px; } }

@media screen and (max-width: 649px) {
  .contenedor__lanzamientos__texto {
    left: 60px;
    bottom: 35px; } }

@media screen and (max-width: 565px) {
  .contenedor__lanzamientos__texto {
    left: 50px;
    bottom: 30px; } }

@media screen and (max-width: 525px) {
  .contenedor__lanzamientos__texto {
    left: 40px;
    bottom: 25px; } }

@media screen and (max-width: 495px) {
  .contenedor__lanzamientos__texto {
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    left: 90px;
    bottom: 50px; } }

@media screen and (max-width: 439px) {
  .contenedor__lanzamientos__texto {
    font-size: 18px;
    padding: 1px 5px 1px 5px;
    left: 80px;
    bottom: 45px; } }

@media screen and (max-width: 407px) {
  .contenedor__lanzamientos__texto {
    font-size: 16px;
    padding: 1px 5px 1px 5px;
    left: 75px;
    bottom: 35px; } }

@media screen and (max-width: 357px) {
  .contenedor__lanzamientos__texto {
    font-size: 14px;
    padding: 1px 5px 1px 5px;
    left: 65px;
    bottom: 35px; } }

@media screen and (max-width: 872px) {
  footer {
    height: 48vh; }
  .inicio__logo {
    width: 190px;
    height: 190px; }
  .redes__titulo {
    font-size: 22px;
    margin-bottom: 40px; }
  .redes__enlaces__iconos {
    width: 30px;
    height: 30px; } }

@media screen and (max-width: 866px) {
  footer {
    height: 35vh; }
    footer .inicio__logo {
      width: 175px;
      height: 175px; }
    footer .redes__titulo {
      font-size: 22px;
      margin-bottom: 30px; }
    footer .redes__enlaces__iconos {
      width: 20px;
      height: 20px; }
    footer .redes__enlaces {
      font-size: 12px; } }

@media screen and (max-width: 700px) {
  .inicio__logo {
    width: 170px;
    height: 170px; }
  .redes__titulo {
    font-size: 20px;
    margin-bottom: 28px; }
  .redes__enlaces {
    font-size: 12px; } }

@media screen and (max-width: 668px) {
  .inicio__logo {
    width: 170px;
    height: 170px; }
  .redes__titulo {
    font-size: 18px;
    margin-bottom: 24px; }
  .redes__enlaces {
    font-size: 11px; } }

@media screen and (max-width: 576px) {
  footer {
    height: 50vh; }
    footer .inicio__logo {
      width: 165px;
      height: 165px; }
    footer .redes__titulo {
      font-size: 17px;
      margin-bottom: 21px; }
    footer .redes__enlaces {
      font-size: 8px; } }

@media screen and (max-width: 498px) {
  footer {
    height: 55vh;
    justify-content: flex-end;
    flex-direction: column-reverse; }
    footer .inicio__logo {
      width: 160px;
      height: 160px;
      margin-top: 30px;
      position: absolute;
      right: 5px; }
    footer .inicio .redes__titulo {
      padding-top: 45px;
      font-size: 17px;
      margin-bottom: 21px; }
    footer .inicio .redes__enlaces__iconos {
      margin-left: 20px; }
    footer .inicio .redes__enlaces {
      font-size: 8px; } }

@media screen and (max-width: 490px) {
  footer {
    height: 65vh; }
    footer .inicio__logo {
      width: 140px;
      height: 140px; }
    footer .redes__titulo {
      padding-top: 40px;
      font-size: 15px;
      margin-bottom: 18px; }
    footer .redes__enlaces__iconos {
      margin-left: 10px; } }

@media screen and (max-width: 406px) {
  footer .inicio__logo {
    width: 135px;
    height: 135px; }
  footer .redes__titulo {
    padding-top: 35px;
    font-size: 12px;
    margin-bottom: 15px; }
  footer .redes__enlaces__iconos {
    width: 15px;
    height: 15px;
    margin-left: 21px; } }

@media screen and (max-width: 404px) {
  footer .redes__titulo {
    padding-top: 35px;
    font-size: 12px;
    margin-bottom: 15px; }
  footer .redes__enlaces__iconos {
    width: 15px;
    height: 15px;
    margin-left: 18px; } }

@media screen and (max-width: 374px) {
  footer {
    height: 75vh; }
    footer .inicio__logo {
      width: 118px;
      height: 118px; }
    footer .redes__titulo {
      padding-top: 35px;
      font-size: 12px;
      margin-bottom: 15px; }
    footer .redes__enlaces__iconos {
      width: 15px;
      height: 15px;
      margin-left: 18px; } }

@media screen and (max-width: 346px) {
  footer {
    height: 65vh; }
    footer .inicio__logo {
      width: 113px;
      height: 113px; }
    footer .redes__titulo {
      padding-top: 30px;
      font-size: 12px;
      margin-bottom: 12px; }
    footer .redes__enlaces__iconos {
      width: 13px;
      height: 13px;
      margin-left: 12px; } }
