@import"../base/variables";

footer{
    width: 100%;
    height: 42vh;
    background-color: map-get($paleta-colores, secundario);
    @include flex-2 (flex, row-reverse, space-between, center );
    .inicio{
        &__logo{
            width: 210px;
            height: 210px;
        }
    }
    .redes{
        &__titulo{
            text-align: center;
            color: white;
            margin-bottom: 45px;
        }
        &__enlaces{
            text-decoration: none;
            color: white;
            font-weight: 700;
            &__iconos{
                margin-left: 25px;
                width: 30px;
                height: 30px;
                text-decoration: none;
            }
        }
    }
}