@import"../base/variables";
@import"../base/maps";
@import"../base/conditionals";

.cabecera{
    background-color:map-get($paleta-colores,principal );
    @include modo(1);   
}

.nav-link{
    font-size:nth($font-size,7 );
    font-style: italic;
    font-weight: bolder;
}

.nav-item{
    margin-left:40px
}


.logo{
    width: 110px;
    height: 110px;
    transition: 4s;
    &:hover{
        transform: rotateY(360deg);
    }
}


