@import"../base/variables";

.cabecera{
    background-color:$color-principal;
}

.nav-link{
    font-size:nth($font-size,6 );
    font-style: italic;
    font-weight: bolder;
}

.nav-item{
    margin-left:40px
}


.logo{
    width: 110px;
    height: 110px;
    transition: 4s;
    &:hover{
        transform: rotateY(360deg);
    }
}


