// ?----MEDIA QUERIES-HEADER-------


@media screen and (max-width:1104px){
    .secundario-titulo{
        font-size: 25px;
    }

    .secundario-parrafo{
        font-size: 20px;
    }
}


@media screen and (max-width:1066px){
    .principal-titulo{
        font-size:45px;
    }
    .principal-parrafo{
        font-size:20px;
    }
}


@media screen and (max-width:917px){
    .secundario-titulo{
        font-size: 22px;
    }

    .secundario-parrafo{
        font-size: 15px;
    }
}



@media screen and (max-width:879px){

    .carousel-item{
        img{
            height: 60vh;
        }
    }
    .principal-titulo{
        font-size:38px;
        padding-bottom: 10px;
    }
    .principal-parrafo{
        font-size:18px;
    } 

    .secundario-titulo{
        font-size: 20px;
    }

    .secundario-parrafo{
        font-size: 14px;
    }
}

@media screen and (max-width:759px){
    .principal-titulo{
        font-size:33px;
        font-weight: bolder;
        color: rgba(240, 234, 234, 0.821);
        text-shadow:  2px 2px #00004def;
    }
    .principal-parrafo{
        font-size:15px;
        color: rgba(255, 255, 255, 0.901);
    }
}


@media screen and (max-width:738px){
    .secundario-titulo{
        font-size: 19px;
    }

    .secundario-parrafo{
        font-size: 13px;
    }
}


@media screen and (max-width:699px){
    .secundario-titulo{
        font-size: 17px;
    }

    .secundario-parrafo{
        font-size: 13px;
    }
}

@media screen and (max-width:694px){
    .principal-titulo{
        font-size:28px;
    }
    .principal-parrafo{
        font-size:13px;
    }
}

@media screen and (max-width:631px){
    .principal-titulo{
        font-size:24px;
    }
    .principal-parrafo{
        font-size:12px;
    }
    .secundario-titulo{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.901);
    }
    .secundario-parrafo{
        font-size: 8px;
        color: rgba(255, 255, 255, 0.901);
    }
}

@media screen and (max-width:568px){
    .principal-titulo{
        font-size:19px;
    }
}

@media screen and (max-width:515px){

    .secundario-titulo{
        font-size: 12px;
    }
    .secundario-parrafo{
        font-size: 9px;
    }
}

@media screen and (max-width:505px){
    .principal-titulo{
        font-size:17px;
        
    }
    .principal-parrafo{
        font-size: 10px;
    }
}

@media screen and (max-width:480px){
    .principal-titulo{
        font-size:16px;
    }
}

@media screen and (max-width:470px){
    .principal-titulo{
        font-size:15px;
    }
    .secundario-titulo{
        font-size: 10px;
    }
    .secundario-parrafo{
        font-size: 8px;
    }
}




@media screen and (max-width:450px){
    .principal-titulo{
        font-size:18px;
        letter-spacing:5px ;
        
    }
    .principal-parrafo{
        font-size:10px;
    }

    .secundario-titulo{
        font-size: 8px;
    }
    .secundario-parrafo{
        font-size: 7px;
    }
}


@media screen and (max-width:381px){
    .principal-titulo{
        font-size:16px;
        
    }
    .principal-parrafo{
        font-size:8px;
    }

    .secundario-titulo{
        font-size: 9px;
    }
    .secundario-parrafo{
        font-size: 8px;
    }

}

@media screen and (max-width:340px){
    .principal-titulo{
        font-size:15px;
        letter-spacing:4px ;
    }
    .principal-parrafo{
        font-size:7px;
    }
    .secundario-titulo{
        font-size: 8px;
    }
    .secundario-parrafo{
        font-size: 7px;
    }


}

@media screen and (max-width:297px){
    .principal-titulo{
        font-size:12px;
        
    }
    .principal-parrafo{
        font-size:5px;
    }
}


// ?---MEDIA---ALEMANES------------

@media screen and (max-width:1109px){
    .alemanes__titulo {
        font-size:37px;
        margin-left:30px;
    }
}

@media screen and (max-width:900px){
    .alemanes{
        height:100vh;
        .tarjeta__promo{
            width: 250px;
            height: 340px;
            &__imgenes{
                width: 250px;
                height: 250px; 
            }
            &__titulos{
                font-size: 25px; 
                }
            &__botones{
                font-size:12px;
            }
        }
    }
}



@media screen and (max-width:886px){
    .alemanes__titulo {
        font-size:35px;
        margin-left:25px;
    } 
}

@media screen and (max-width:749px){
    .alemanes{
        height:170vh;
        &__titulo {
            font-size:30px;
            margin-left:20px;
        }
    }
}

@media screen and (max-width:629px){
    .alemanes__titulo {
        height: 40px;
        font-size:25px;
        margin-left:15px;
    }
}

@media screen and (max-width:522px){
    .alemanes__titulo {
        font-size:24px;
        margin-left:8px;
    }
}

@media screen and (max-width:500px){
    .alemanes{
        height: 220vh;
        .tarjeta{
            height: 200vh;
            align-content: space-between;
        }
        &__titulo {
            font-size:22px;
            margin-left:10px;
            padding-bottom:30px;
        }
    }
}

@media screen and (max-width:464px){
    .alemanes{
        &__titulo {
            font-size:21px;
        }
    }
}

@media screen and (max-width:444px){
    .alemanes{
        &__titulo {
            font-size:20px;
            
        }
    }
}

@media screen and (max-width:420px){
    .alemanes{
        &__titulo {
            font-size:19px;
            
        }
    }
}

@media screen and (max-width:404px){
    .alemanes{
        height: 220vh;

        &__titulo {
            font-size:19px;
        }
    }
}

@media screen and (max-width:402px){
    .alemanes{

        &__titulo {
            font-size:18px;
            margin-left:0;
            text-align:center;
            
        }
    }
}

@media screen and (max-width:378px){
    .alemanes{
        
        &__titulo{
            font-size:17px;
            text-align:center;
            margin-left:0;
        }
    }
}

@media screen and (max-width:358px){
    .alemanes{
        
        &__titulo {
            font-size:16px;
        }
    }
}

@media screen and (max-width:338px){
    .alemanes{
        
        &__titulo {
            font-size:15px;
        }
    }
}


@media screen and (max-width:335px){
    .alemanes{
        height: 260vh;
        justify-content: center;

        .tarjeta{
            height: 240vh;
            align-content: space-around;
        }
        
    }
}



// ?--------MEDIA----LANZAMIENTOS--------



@media screen and (max-width:961px){
    .italiano{
        height:135vh;
    }
}


@media screen and (max-width:955px){
    
        .italiano{
        .itali-flexible{
            &__titulo{
                font-size: 40px;
            }
            &__sub{
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width:857px){
    
    .italiano{
        height:130vh;
        justify-content:space-evenly;
    } 

    .itali-flex{
        justify-content:space-evenly; 
    }

}

@media screen and (max-width:790px){
    .italiano{
        height:120vh;
    }
}

@media screen and (max-width:727px){
    
    .italiano{
        .itali-flexible{
            &__titulo{
                font-size: 35px;
            }
            &__sub{
                font-size: 28px;
            }
        }
    }
}



@media screen and (max-width:719px){
    .italiano{
        height:100vh;
    }
}

@media screen and (max-width:618px){
    
    .italiano{
        .itali-flexible{
            height: 10vh;
            &__titulo{
                font-size: 25px;
            }
            &__sub{
            font-size: 18px;
            }
        }
    }
} 

@media screen and (max-width:525px){
    .italiano{
        height:110vh;
    }
}

@media screen and (max-width:495px){
    .italiano{
        height:140vh;
    }


}

@media screen and (max-width:469px){
    
    .italiano{
        .itali-flexible{
            &__titulo{
                font-size: 20px;
            }
            &__sub{
            font-size: 15px;
            }
        }
    }
}

@media screen and (max-width:380px){
    
    .italiano{
        .itali-flexible{
            &__titulo{
                font-size: 16px;
            }
            &__sub{
            font-size: 15px;
            }
        }
    }
} 







// !-------MEDIA GRID--ALEMANES---------



@media screen and (max-width:1069px){
    .contenedor{
        grid-auto-rows: 250px;
        gap: 25px;
    }
}

@media screen and (max-width:1057px){
    .contenedor{
        grid-auto-rows: 245px;
        gap: 22px;
    }
}

@media screen and (max-width:1029px){
    .contenedor{
        grid-auto-rows: 240px;
        gap: 20px;
    }
}

@media screen and (max-width:1001px){
    .contenedor{
        grid-auto-rows: 235px;
        gap: 15px;
    }
}

@media screen and (max-width:967px){
    .contenedor{
        grid-auto-rows: 230px;
        gap: 14px;
    }
}

@media screen and (max-width:967px){
    .contenedor{
        grid-auto-rows: 228px;
        gap: 13px;
    }
}

@media screen and (max-width:939px){
    .contenedor{
        grid-auto-rows: 224px;
        gap: 12px;
    }
}


@media screen and (max-width:917px){
    .contenedor{
        grid-auto-rows: 220px;
        gap: 11px;
    }
}


@media screen and (max-width:891px){
    .contenedor{
        grid-auto-rows: 215px;
        gap: 10px;
    }
}


@media screen and (max-width:875px){
    .contenedor{
        grid-auto-rows: 210px;
        gap: 9px;
    }
}


@media screen and (max-width:855px){
    .contenedor{
        grid-auto-rows: 200px;
        
    }
}


@media screen and (max-width:807px){
    .contenedor{
        grid-auto-rows: 195px;
        
    }
}


@media screen and (max-width:787px){
    .contenedor{
        grid-auto-rows: 190px;
        
    }
}


@media screen and (max-width:773px){
    .contenedor{
        grid-auto-rows: 185px;
        
    }
}


@media screen and (max-width:749px){
    .contenedor{
        grid-auto-rows: 180px;
        
    }
}


@media screen and (max-width:721px){
    .contenedor{
        grid-auto-rows: 175px;
        
    }
}


@media screen and (max-width:749px){
    .contenedor{
        grid-auto-rows: 170px;
        
    }
}

@media screen and (max-width:691px){
    .contenedor{
        grid-auto-rows: 165px;
        
    }
}


@media screen and (max-width:659px){
    .contenedor{
        grid-auto-rows: 160px;
        
    }
}


@media screen and (max-width:641px){
    .contenedor{
        grid-auto-rows: 155px;
        
    }
}



@media screen and (max-width:621px){
    .contenedor{
        grid-auto-rows: 150px;
        
    }
}


@media screen and (max-width:611px){
    .contenedor{
        grid-auto-rows: 145px;
        
    }
}

@media screen and (max-width:495px){
    .contenedor{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 200px;
        gap: 35px;
        &__lanzamientos--1{
            grid-row: span 1;
            }
    }

    
}

// !----TEXTOS--IMAGEN--DRID---LANZAMIENTOS--

@media screen and (max-width:1037px){
    .contenedor{
        &__lanzamientos__texto{
            font-size:22px;
            padding:2px px 2px 2px;
            border: dashed 1px;
            left:80px;
            bottom:50px;
            
        
        }
    }
    
}


@media screen and (max-width:930px){
    .contenedor{
        &__lanzamientos__texto{
            font-size:18px;
            padding:2px px 2px 2px;
        }
    }
}

    
@media screen and (max-width:849px){
    .contenedor{
        &__lanzamientos__texto{
            font-size:16px;
            padding:1px 2px 1px 2px;
            left:70px;
            bottom:45px;
        }
    }
}


@media screen and (max-width:743px){
    .contenedor{
        &__lanzamientos__texto{
            font-size:14px;
        }
    }
}
    

@media screen and (max-width:649px){
    .contenedor{
        &__lanzamientos__texto{
            left:60px;
            bottom:35px;
        }
    }
}    


@media screen and (max-width:565px){
    .contenedor{
        &__lanzamientos__texto{
            left:50px;
            bottom:30px;
        }
    }
}
    


@media screen and (max-width:525px){
    .contenedor{
        &__lanzamientos__texto{
            left:40px;
            bottom:25px;
        }
    }
}



@media screen and (max-width:495px){
    .contenedor{
        &__lanzamientos__texto{
            font-size:20px;
            padding:1px 5px 1px 5px;
            left:90px;
            bottom:50px;
        }
    }
}



@media screen and (max-width:439px){
    .contenedor{
        &__lanzamientos__texto{
            font-size:18px;
            padding:1px 5px 1px 5px;
            left:80px;
            bottom:45px;
        }
    }
}
    

@media screen and (max-width:407px){
    .contenedor{
        &__lanzamientos__texto{
            font-size:16px;
            padding:1px 5px 1px 5px;
            left:75px;
            bottom:35px;
        }
    }
}
    

@media screen and (max-width:357px){
    .contenedor{
        &__lanzamientos__texto{
            font-size:14px;
            padding:1px 5px 1px 5px;
            left:65px;
            bottom:35px;
        }
    }
}



// ?---------MEDIA--MODELOS--------


@media screen and (max-width:1062px){
    .autos{
        .ventas1{
            &__titulo{
            font-size: 35px;
            font-weight: bolder;
            }
        }
    }
}


@media screen and (max-width:957px){
    .autos{
        .ventas1{
            &__titulo{
            font-size: 30px;
            }
        }
    }
}



@media screen and (max-width:869px){
    .ventas{
        height: 130vh;
    }
}


@media screen and (max-width:837px){
    .autos{
        .ventas1{
            &__titulo{
            font-size: 32px;
            }
        }
    }
}

@media screen and (max-width:733px){
    .autos{
        .ventas1{
            &__titulo{
                font-size:50px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:590px){
    .autos{
        .ventas1{
            &__titulo{
            font-size: 40px;
            }
        }
    }
}

@media screen and (max-width:492px){
    .autos{
        .ventas1{
            &__titulo{
            font-size: 35px;
            }
        }
    }
}

@media screen and (max-width:427px){
    .autos{
        .ventas1{
            &__titulo{
            font-size: 30px;
            }
        }
    }
}

@media screen and (max-width:382px){
    .autos{
        .ventas1{
            &__titulo{
            font-size: 25px;
            }
        }
    }
}

@media screen and (max-width:306px){
    .autos{
        .ventas1{
            &__titulo{
            font-size: 20px;
            font-weight: bolder;
            }
        }
    }
}



// ?----------SECCION--VENTAS-------

@media screen and (max-width:967px){
    .ventas{
        .deportivos{
            &__venta{
                width: 300px;
                height: 350px;
            }
            .foto-autos{
                .galeria{
                    height: 200px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media screen and (max-width:869px){
    .ventas{
        height: 90vh;
    }
}


@media screen and (max-width:600px){
    .ventas{
        height: 90vh;
        .deportivos{
            height: 60vh;
            align-content: space-around;
            &__venta{
                width: 250px;
                height: 330px;
                
            }
            .foto-autos{
                .galeria{
                    height: 200px;
                }
            }
        }
    }
}


@media screen and (max-width:500px){
    .ventas{
        height: 150vh;
        .deportivos{
            height: 150vh;
            align-content: space-around;
            &__venta{
                width: 250px;
                height: 330px;
                
            }
            .foto-autos{
                .galeria{
                    height: 200px;
                }
            }
        }
    }
}


// ?--------MEDIA----ACERCA------

@media screen and (max-width:813px){
    .principal2{
        &__titulo{
            font-size: 30px;
        }
        &__parrafo{
            font-size: 20px;
        }
    }
}

@media screen and (max-width:813px){
    .principal2{
        height: 70vh;
    }
}


@media screen and (max-width:724px){
    .principal2{
        &__titulo{
            font-size: 25px;
        }
        &__parrafo{
            font-size: 20px;
        }
    }
}

@media screen and (max-width:612px){
    .principal2{
        &__titulo{
            font-size: 20px;
        }
        &__parrafo{
            font-size: 15px;
        }
    }
}

@media screen and (max-width:489px){
    .principal2{
        &__titulo{
            font-size: 15px;
        }
        &__parrafo{
            font-size: 10px;
        }
    }
}

@media screen and (max-width:376px){
    .principal2{
        &__titulo{
            font-size: 12px;
            font-size: bolder;
        }
        &__parrafo{
            font-size: 9px;
        }
    }
}

@media screen and (max-width:471px){
    .container-fluid{
        .contenedor1{
            .mercedez__textos{
                width: 350px;
                &:hover{
                    transform: scale(1);

                    
                }
                &__titulos{
                    font-size: 25px;
                    font-weight: bolder;
                }
                &__parrafo{
                    font-size: 14px;
                    
                }
    
            }
        }
        .contenedor2{
            .persona__textos{
                width: 350px;
                &:hover{
                    transform: scale(1);

                }
            }
        }

        .contenedor3{
            .laferrari__textos{
                width: 350px;
                &:hover{
                    transform: scale(1);

                }
                &__parrafo{
                    font-size: 14px;
                    
                }
            }
        }
    }

}


@media screen and (max-width:375px){
    .container-fluid{
        .contenedor1{
            .mercedez__textos{
                width: 250px;

                &__titulos{
                    font-size: 25px;
                    font-weight: bolder;
                }
                &__parrafo{
                    font-size: 13px;
                    
                }
    
            }
        }
        .contenedor2{
            .persona__textos{
                width: 250px;
                &:hover{
                    transform: scale(1);

                }
            }
        }

        .contenedor3{
            .laferrari__textos{
                width: 250px;

                &__parrafo{
                    font-size: 13px;
                    
                }
            }
        }
    }

}

// ?---------MEDIA--NOVEDADES------

@media screen and (max-width:1246px) {
    .introduccion{
        
        &__titulo{
            font-size: 35px;
            padding-bottom: 4px;
            

        }
        &__subtitulo{
            font-size: 25px;
            margin-top: 15px;

        }
        &__parrafo{

            font-size: 15px;

        }
    }
}   


@media screen and (max-width:1085px) {
    .introduccion{
        
        &__titulo{
            font-size: 30px;
            padding-bottom: 2px;
            

        }
        &__subtitulo{
            font-size: 20px;
            margin-top: 15px;

        }
        &__parrafo{

            font-size: 12px;

        }
    }
}    


@media screen and (max-width:950px) {
    .introduccion{
        
        &__titulo{
            font-size: 24px;
        }
        &__subtitulo{
            font-size: 14px;
        }
        &__parrafo{
            font-size: 10px;
        }
    }
} 


@media screen and (max-width:762px) {
    .introduccion{
        height:50vh ;
        &__titulo{
            font-size: 18px;
        }
        &__subtitulo{
            font-size: 12px;
        }
        &__parrafo{
            font-size: 8px;
        }
    }
}

@media screen and (max-width:566px) {
    .introduccion{
        
        &__titulo{
            font-size: 16px;
            padding-bottom: 2px;
            font-weight: bolder;
            

        }
        &__subtitulo{
            font-size: 10px;
            margin-top: 15px;

        }
        &__parrafo{
            font-size: 8px;
        
        }
    }
}

@media screen and (max-width:497px) {
    .introduccion{
        
        &__titulo{
            font-size: 14px;
        }
        &__subtitulo{
            font-size: 8px;
            margin-top: 10px;

        }

    }
}

@media screen and (max-width:434px) {
    .introduccion{
        
        &__titulo{
            font-size: 12px;
        }
        &__subtitulo{
            font-size: 8px;
            margin-top: 10px;

        }
        &__parrafo{
            font-size: 7px;
        
        }
    }
}

@media screen and (max-width:386px) {
    .introduccion{
        
        &__titulo{
            font-size: 10px;
        }
        &__subtitulo{
            font-size: 8px;
            margin-top: 10px;
            padding-left: 6px;

        }
        &__parrafo{
            font-size: 6px;
            padding-left: 6px;
        
        }
    }
}


@media screen and (max-width:340px) {
    .introduccion{
        
        &__titulo{
            font-size: 9px;
        }
        &__subtitulo{
            font-size: 7px;
            font-weight: bolder;
            margin-top: 10px;
            padding-left: 5px;

        }
        &__parrafo{
            font-size: 5px;
            padding-left: 6px;
        
        }
    }
} 








// !--------MEDIA-NOVEDADES-GRID------

@media screen and (max-width:1247px) {
    .novedades{
        height:260vh;
    }
}

@media screen and (max-width:1085px) {
    .novedades{
        height:210vh;
        .videos{
            column-gap: 120px;
            row-gap: 200px;
            grid-auto-rows: 238px;


            &__titulo{
                font-size:20px;
            }
            &__parrafo{
                font-size:15px;
            }
            &__youtube{

                height:80% ;
            }
        }
    } 
}


@media screen and (max-width:1035px) {
    .novedades{
        height:190vh;
        .videos{
            column-gap: 130px;
            row-gap: 210px;
            grid-auto-rows: 195px;


            &__titulo{
                font-size:15px;
            }
            &__parrafo{
                font-size:10px;
            }
            &__youtube{

                height:70% ;
            }
        }
    } 
}


@media screen and (max-width:932px) {
    .novedades{
        height:580vh;
        .videos{
            grid-template-columns: repeat(1,1fr);
            column-gap: 120px;
            row-gap: 200px;
            grid-auto-rows: 400px;


            &__titulo{
                font-size:20px;
            }
            &__parrafo{
                font-size:15px;
            }
            &__youtube{

                height:85% ;
            }
        }
    } 
}  



@media screen and (max-width:721px) {
    .novedades{
        height:455vh;
        .videos{

            row-gap: 120px;
            grid-auto-rows: 350px;


            &__titulo{
                font-size:15px;
            }
            &__parrafo{
                font-size:10px;
            }
            &__youtube{

                height:85% ;
            }
        }
    } 
}


@media screen and (max-width:656px) {
    .novedades{
        height:385vh;
        .videos{

            row-gap: 150px;
            grid-auto-rows: 250px;


            &__titulo{
                font-size:15px;
            }
            &__parrafo{
                font-size:10px;
            }
            &__youtube{

                height:85% ;
            }
        }
    } 
}


@media screen and (max-width:465px) {
    .novedades{
        height:300vh;
        .videos{

            row-gap: 80px;
            grid-auto-rows: 220px;


            &__titulo{
                font-size:15px;
            }
            &__parrafo{
                font-size:10px;
            }
            &__youtube{

                height:85% ;
            }
        }
    } 
}



@media screen and (max-width:408px) {
    .novedades{
        height:295vh;
        .videos{

            row-gap: 100px;
            grid-auto-rows: 200px;


            &__titulo{
                font-size:15px;
            }
            &__parrafo{
                font-size:10px;
            }
            &__youtube{

                height:85% ;
            }
        }
    } 
}

@media screen and (max-width:378px) {
    .novedades{
        height:315vh;
        .videos{

            row-gap: 150px;
            grid-auto-rows: 180px;


            &__titulo{
                font-size:15px;
            }
            &__parrafo{
                font-size:10px;
            }
            &__youtube{

                height:80% ;
            }
        }
    } 
}


@media screen and (max-width:325px) {
    .novedades{
        height:280vh;
        .videos{
            row-gap: 130px;
            grid-auto-rows: 160px;
            
            &__titulo{
                font-size:15px;
            }
            &__parrafo{
                font-size:10px;
            }
            &__youtube{
                height:75% ;
            }
        }
    } 
}







//?----------MEDIA--CONTACTO-------



@media screen and (max-width:992px){

    .formulario{

        .formu2{

            div{
                .consulta{
                    .boton-enviar{
                        width: 80vw;
                    }
                }
            }        
        } 
    } 
}





@media screen and (max-width:991px) {
    .formulario{

        .formu2{
    
            div{

                .textos-completa{
                    padding-top: 40px;
                }
                
                .separador{
                
                    &::after{
                        left: 4px;
                        top: calc(100% + 20px);
                    }
                    
                    .textos-completa{
                        &__titulo{

                            &::after{
                                top: calc(80% + 15px);
                                left: 6px;
                            }
                        }
                    }
                
                    
    
                }
            }    
        }
    
    }
}



@media screen and (max-width:923px) {
    .formulario{

        .formu2{
    
            div{
                
                .separador{
                    
                    .textos-completa{
                        &__titulo{

                            &::after{
                                top: calc(80% + 15px);
                                left: 10px;
                            }
                        }
                    }
                
                    
    
                }
            }    
        }
    
    }
}


@media screen and (max-width:892px) {
    .formulario{

        .formu2{
    
            div{
                
                .separador{
                    
                    .textos-completa{
                        &__titulo{

                            &::after{
                                top: calc(80% + 10px);
                                left: 10px;
                            }
                        }
                    }
                
                    
    
                }
            }    
        }
    
    }
}


@media screen and (max-width:841px){
    .contacto{
        &__titulo{
            font-size: 30px;
        }
        &__parrafo{
            font-size: 25px;
        }
    }


    .mapagrande{

        .casa{
            
            &__central{
                align-items: center;
                padding-right: 0;
            }
        }
    }
}


@media screen and (max-width:692px) {
    .formulario{

        .formu2{
    
            div{
                
                .separador{
                    
                    .textos-completa{
                        &__titulo{

                            &::after{
                                top: calc(80% + 8px);
                                left: 14px;
                            }
                        }
                    }
                
                    
    
                }
            }    
        }
    
    }
}


@media screen and (max-width:587px) {
    .formulario{

        .formu2{
    
            div{
                
                .separador{
                    
                    .textos-completa{
                        &__titulo{

                            &::after{
                                top: calc(100% + 2px);
                                left: 14px;
                            }
                        }
                    }
                
                    
    
                }
            }    
        }
    
    }
}


@media screen and (max-width:573px) {
    .formulario{

        .formu2{
    
            div{
                
                .separador{
                    
                    .textos-completa{
                        &__titulo{

                            &::after{
                                top: calc(70% + 2px);
                                left: 2px;
                            }
                        }
                    }
                
                    
    
                }
            }    
        }
    
    }
}




@media screen and (max-width:577px){
    .formulario{

        .formu2{

            div{
                .textos-completa{
                    &__titulo{
                        font-size: 20px;
                        font-weight: bolder;
                        padding-bottom: 15px;
                    }
                    &__parrafo{
                        font-size: 18px;
                        font-weight:100;
                    }
                }
            }        
        } 
    } 



    .mapagrande{
    
        .casa{
            
            &__central{

                &__titulo{
            

                    padding-right: 0px;
                    
                }
                &__ubicacion{
                    width: 400px;
                    height: 400px;
                    padding-bottom: 20px;
                }

            }
        }
    }
}



@media screen and (max-width:500px){
    .contacto{
        height: 60vh;
    }

}



@media screen and (max-width:468px){
    .contacto{
        &__titulo{
            font-size: 25px;
        }
        &__parrafo{
            font-size: 18px;
        }
    }


    .mapagrande{
    
        .casa{
            
            &__central{

                &__ubicacion{
                    width: 300px;
                    height: 300px;
                    padding-bottom: 10px;
                }

            }
        }
    }
}

@media screen and (max-width:391px){
    .consulta__titulo{
        font-size: 10px;
    }
}

@media screen and (max-width:325px){

    .mapagrande{
        height: 90vh;

        .casa{
            
            &__central{
                
                &__ubicacion{
                    width: 250px;
                    height: 250px;
                    padding-bottom: 5px;
                }

            }
        }
    }
}






// ?---------MEDIA--FOOTER---------


@media screen and (max-width:872px){
    footer{
        height:50vh;
    }
    
    .inicio__logo{
        width: 190px;
        height: 190px;
    }
    .redes{
        &__titulo{
            font-size:22px;
            margin-bottom: 40px;
            }
        &__enlaces__iconos{
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width:866px){
    footer{
        height:35vh;
        .inicio__logo{
            width: 175px;
            height: 175px;
        }
        .redes{
            &__titulo{
                font-size:22px; 
                margin-bottom: 30px;
                }
            &__enlaces__iconos{
                width: 20px;
            height: 20px;
            }
            &__enlaces{
                font-size:12px;
            }
    
        }
    }
}

@media screen and (max-width:700px){
    .inicio__logo{
        width: 170px;
        height: 170px;
    }

    .redes{
        &__titulo{
            font-size:20px;
            margin-bottom: 28px;
        }
        
            &__enlaces{
            font-size:12px;
        }
    }
}

@media screen and (max-width:668px){
    .inicio__logo{
        width: 170px;
        height: 170px;
    }

    .redes{
        &__titulo{
            font-size:18px;
            margin-bottom: 24px;
        }
        
            &__enlaces{
            font-size:11px;
        }
    }
}

@media screen and (max-width:592px){
    footer{
        height:50vh;
        .inicio__logo{
            width: 145px;
            height: 145px;
        }
    }
}

@media screen and (max-width:576px){
    footer{
        height:50vh;
        .inicio__logo{
            width: 145px;
            height: 145px;
        }
        .redes{
            &__titulo{
                font-size:17px; 
                margin-bottom: 21px;
                }
            
                &__enlaces{
                font-size:8px;
            }
        }
    }
}

@media screen and (max-width:498px){
    footer{
        
        height:60vh;
        justify-content:flex-end;
        flex-direction: column-reverse;
        .inicio{
            &__logo{
                width: 150px;
                height: 150px;
                margin-top:30px;
                position:absolute;
                right:5px;
                
                
            }
            .redes{
                &__titulo{
                    padding-top:45px;
                    font-size:17px;
                    margin-bottom: 21px;
                }
                
                    &__enlaces__iconos{
                    margin-left: 20px;
                }
                
                    &__enlaces{
                    font-size:8px;
                }
            }
        }
        
    }
    
    

    
}

@media screen and (max-width:490px){

    footer{
        height:60vh;
        .inicio__logo{
            width: 140px;
            height: 140px;
        }
        .redes{
            &__titulo{
                padding-top:40px;
                font-size:15px; 
                margin-bottom: 18px;
            }
            
                &__enlaces__iconos{
                margin-left: 10px;
            }
        }
    }
    

    
} 

@media screen and (max-width:406px){
    footer{
        .inicio__logo{
            width: 135px;
            height: 135px;
        }
        .redes{
            &__titulo{
                padding-top:35px;
                font-size:12px;
                margin-bottom: 15px;
            }
        
            &__enlaces__iconos{
                width: 15px;
                height: 15px;
                margin-left: 21px;
            }
        }
    }
} 



@media screen and (max-width:404px){
    footer{
        height:55vh;
        .redes{
            &__titulo{
                padding-top:35px;
                font-size:12px;
                margin-bottom: 15px;
            }
        
            &__enlaces__iconos{
                width: 15px;
                height: 15px;
                margin-left: 18px;
            }
        }
    }    
}

@media screen and (max-width:374px){
    footer{
        height:50vh;
        .inicio__logo{
            width: 118px;
            height: 118px;
        }
        .redes{
            &__titulo{
                padding-top:35px;
                font-size:12px;
                margin-bottom: 15px;
            }
        
            &__enlaces__iconos{
                width: 15px;
                height: 15px;
                margin-left: 18px;
            }
        }
    }
}

@media screen and (max-width:346px){
    footer{
        height:45vh;
        .inicio__logo{
            width: 113px;
            height: 113px;
        }
        .redes{
            &__titulo{
                padding-top:30px;
                font-size:12px;
                margin-bottom: 12px;
            }
        
            &__enlaces__iconos{
                width: 13px;
                height: 13px;
                margin-left: 12px;
            }
        }
    }
}












