@import"../base/extends";

.autos{
    .ventas1{
        width: 100%;
        height: 40vh;
        color: white;
        background-color: rgb(10, 9, 9);
        padding-top: 50px;
        @extend%flex-modelos;
        &__titulo{
            font-size: 40px;
            font-weight: 800;
            transition: 4s;
            &:hover{
                animation: texto 4s;
                @keyframes texto{
                    0%{
                    color: goldenrod;
                    transform: scale(1.3);
                    
                    }
                
                    25%{
                    color: darkgoldenrod;
                    }
                
                    50%{
                        color: goldenrod;
                    }
                    
                    75%{
                        color: darkgoldenrod;
                    }
                
                    100%{
                        color: black;
                    }
                
                }
            }
            
        }
    }
}

.ventas{
    background-color:rgb(10, 9, 9);
    .deportivos{
        height: 110vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        &__venta{
            background-color: rgba(255, 254, 254, 0.066);
            color: white;
            width: 400px;
            height: 450px;
            text-align: center;
            border-bottom-left-radius:15px ;
            border-bottom-right-radius:15px ;
            box-shadow:0 0 30px rgba(0, 38, 255, 0.626);
            .foto-autos{
                .galeria{
                    height: 300px;
                    object-fit: cover;
                    margin-bottom: 10px;
                }
            }
            &__titulo{
                font-size: 20px;
                font-weight: bold;
                font-style: italic;
                margin-bottom: 10px;
            }
            &__parrafo{
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 25px;
            }
            &__boton{
                text-decoration: none;
                background-color: rgb(4, 4, 87);
                color: white;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid rgba(29, 29, 255, 0.677);
                box-shadow: 0 0 10px rgba(29, 29, 255, 0.677);
                transition: transform 4s;
                &:hover{
                    border: 3px solid;
                    color:rgb(242, 49, 10);
                    box-shadow: 0 0 12px rgba(255, 67, 29, 0.677);
                    font-weight: bold;
                }
            }
        }

    }
}

