@import "../base/mixin";

.introduccion{
    background-image: url(../img/azulll.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    color: white;
    font-style: italic;
    @include flex-2 (flex, column, flex-start, stretch );

    &__titulo{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    &__subtitulo{
        color: rgb(190, 14, 14);
        font-size: 30px;
        margin-bottom: 10px;
        padding-left: 20px;
        
    }
    &__parrafo{
        color: rgba(255, 255, 255, 0.718);
        font-weight: bold;
        font-size: 20px;
        padding-left: 20px;
    }
}

.novedades{
    width: 100%;
    height: 220vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.708), rgba(0, 0, 0, 0.091)), url(../img/logo.png);
    background-size: cover;
    background-attachment:local;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    .videos{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 300px;
        column-gap: 150px;
        row-gap: 200px;
        font-style: italic;
        &__remodelacion{
            color: azure;
            background-color: rgba(202, 202, 202, 0.321);
            border-top: 1px silver solid;
            -webkit-box-shadow: 24px 25px 19px -3px rgba(0,0,0,0.74);
            -moz-box-shadow: 24px 25px 19px -3px rgba(0,0,0,0.74);
            box-shadow: 24px 25px 19px -3px rgba(0,0,0,0.74);
        }
        &__titulo{
            padding-left: 10px;
        }
        &__parrafo{
            padding-left: 10px;
        }
        &__youtube{
            width: 100%;
            height: 80%;
            object-fit: cover;
        }
    }
}