
// -------NAV---BAR------------

@mixin modo($colors) {
    @if $colors == 2{
        background-color:rgba(107, 105, 105, 0.466);
    }
    @else {
        background-color: rgba(225, 225, 228, 0.83);
    }
    @if $colors > 2{
        background-color: dimgrey;
    }
    @if $colors >= 4 {
        background-color: rgba(246, 246, 241, 0.719);
    }
    
}

// -----------MAIN--LANZAMIENTOS------

@mixin modo-img ($bg-imagen){
    @if $bg-imagen == b{
        background-image: url(../img/fondo.png);
    }
    @else{
        background-image: url(../img/llanta.png);
    }
}