
// ?----SECCION---ALEMANES----

@mixin flex-alemanes ($flex, $direction, $justify, $wrap) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    flex-wrap: $wrap;
}

// ?-----SECCIONES--PAG-INDEX-ITALIANO--PAG-NOVEDADES-INTRODUCCION--PAG-CONTACTO--Y--FOOTER----

@mixin flex-2 ($flex, $direction, $justify, $aling){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
}