
$color-titulo-principal: rgba(4, 32, 170, 0.927);
$color-titulo-secundario:rgb(16, 62, 160);
$color-parrafo-principal:rgba(255, 0, 0, 0.789);
$sombra-titulo-principal: 3px 5px 10px rgba(251, 247, 246, 0.526);
$sombra-parrafo-principal: 5px 10px 20px rgba(186, 167, 25, 0.863);
$color-textos-secundarios:rgba(255, 255, 255, 0.714);
$color-borde-conocelo:rgba(255, 255, 255, 0.714) dashed 2px;
$color-borde-conocelo-hover:rgba(255, 255, 255, 0.714) dashed 3px;
$color-fondo-footer: darkred;



// ?---LISTAS--COLORES--

$colores:
rgba(4, 32, 170, 0.927),
rgb(16, 62, 160),
rgba(255, 0, 0, 0.789),
rgb(248, 26, 26),
rgba(251, 247, 246, 0.526),
rgba(186, 167, 25, 0.863),
white,
black,
rgb(77, 71, 71),
beige,
rgba(255, 255, 255, 0.714);



// ?---LISTAS---FONT-SIZE---

$font-size:
65px,
50px,
40px,
35px,
30px,
25px,
20px;